:root {
  --clr-black-600: #111;
  --clr-black-500: #333;
  --clr-black-450: #444;
  --clr-black-400: #666;
  --clr-black-300: #bbb;
  --clr-blue-btn: rgb(52, 100, 136);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  background-color: white;
  width: 90%;
  z-index: 1;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

span.nav-icon {
  font-size: 20px;
  padding: 0 15px;
}

.nav-space {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nyt-logo {
  background: url(../assets/185px-NewYorkTimes.svg.png) no-repeat;
  width: 220px;
  height: 100%;
  background-position: center;
}

.nav-right {
  padding: 0 20px;
}

.nav-btn {
  border: 1px solid #366377;
  background-color: var(--clr-blue-btn);
  border-radius: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11px;
  padding: 9px 12px;
  color: #ffffff;
  margin-left: 9px;
  font-weight: bold;
}
/* Header */
.header {
  width: 600px;
  margin: 0 auto;
  padding: 100px 0 25px 0;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
/* Social Media Links */

.social-links {
  display: flex;
  width: 600px;
  margin: 0 auto;
  padding: 15px 0;
  align-items: center;
}

.social-links div:nth-child(-n + 5) {
  width: 27px;
  height: 27px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  margin-right: 15px;
}

.social-links div:hover {
  background-color: white;
}

.facebook-icon {
  background: url(../assets/iconmonstr-facebook-1.svg);
}
.whatsapp-icon {
  background: url(../assets/iconmonstr-whatsapp-1.svg);
}
.twitter-icon {
  background: url(../assets/iconmonstr-twitter-1.svg);
}
.email-icon {
  background: url(../assets/iconmonstr-email-1.svg);
}
.share-icon {
  background: url(../assets/iconmonstr-arrow-58.svg);
}
.bookmark-icon {
  width: 30px;
  height: 30px;
  margin-right: 9px;
  background: url(../assets/iconmonstr-bookmark-thin.svg) no-repeat;
  background-position: center;
}
.bubble-icon {
  position: relative;
  width: 20px;
  height: 13px;
  font-size: 13px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

/* Image */
.image-container {
  width: 1200px;
  margin: 0 auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-caption {
  display: block;
  width: 900px;
  line-height: 20px;
  padding: 10px 0;
  color: #464646;
}

.image-caption span {
  font-size: 14px;
  color: #5f5f5f;
  padding-left: 5px;
}

/* content */
.content {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.author {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--clr-black-600);
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 20px;
}

.author a {
  text-decoration: underline;
  color: var(--clr-black-600);
  text-decoration-color: var(--clr-black-300);
}

.date {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  padding-bottom: 20px;

}

.break-line {
  border: none;
  height: 1px;
  background-color: var(--clr-black-300);
}

.content > p {
  font-size: 22px;
  line-height: 1.3;
  color: var(--clr-black-600);
  padding-bottom: 20px;
}

.call-to-action {
  display: flex;
}

.call-to-action > p {
  font-size: 18px;
  font-style: italic;
}

.science-times {
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  word-spacing: 2;
  font-style: normal;
}

.sign-up-btn {
  margin-top: 10px;
  font-size: 15px;
  width: 110px;
  height: 33px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}

.link-blue {
  color: #2b587a;
}

.dig-deeper {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 5px 0;
}

.dig-deeper p {
  font-size: 15px;
  padding: 0;
}

.dig-deeper:last-child {
  color: #2b587a;
}

.p-1 {
  font-weight: bold;
}

.short-break-line {
  border: none;
  height: 1px;
  background-color: var(--clr-black-300);
  width: 70px;
}

img {
  width: 100%;
  height: auto;
}

.inflation {
  width: 950px;
  height: 730px;
  margin: 0 auto;
  background-image: url('../assets/inflation-945.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.inflation-h1 {
  font-size: 20px;
  font-weight: bold;
}

.inflation-div1, .inflation-div2 {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 1.5;
}

.inflation-div2 {
  margin-top: 150px;
  padding-bottom: 50px;
}

.inflation-div > p {
  margin-right: 5px;
}

.p-bold {
  font-weight: bold;
  padding-right: 10px;
  font-size: 12px;
}

.dark-break-line {
  border: none;
  height: 1px;
  background-color: var(--clr-black-600);
  width: 70px;
  float: left;
}

.inflation-caption {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  padding-top: 10px;
  clear: left;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.caption {
  margin-top: 15px;
  margin-bottom: 50px;
  line-height: 1.3;
  color: var(--clr-black-500);
  width: 500px;
}

.credit {
  font-size: 14px;
  color: var(--clr-black-400);
}

.cosmo2-container {
  width: 700px;
  margin: 0 auto;
}

.cosmo2-caption {
  color: var(--clr-black-500);
  line-height: 1.3;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 650px;
}

.end-credit {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  color: var(--clr-black-450);
}

.end-credit > a {
  color: var(--clr-black-450);
}

.read-comments {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.read-btn {
  border: 1px solid #366377;
  background-color: var(--clr-blue-btn);
  border-radius: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  word-spacing: 2px;
  padding: 9px 12px;
  color: #ffffff;
  margin-left: 9px;
  width: 700px;
  height: 37px;
}

.float-right {
  justify-content: flex-end;
}

.subscribe-div {
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.subscribe-div > p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--clr-black-600);
}

.subscribe-div > h1 {
  font-size: 38px;
  width: 400px;
  text-align: center;
  line-height: 1.5;
}

.subscribe-div > button {
  width: 320px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 45px;
  border: none;
  border-radius: 3px;
}

.subscribe-div > span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: var(--clr-black-500);
}

/* SUGGESTION SECTION */

.suggestion-div {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 850px 320px;
  grid-gap: 30px;
  border-bottom: 2px solid var(--clr-black-300);
  margin-bottom: 1px;
}

.suggestion-left {
  border-top: 1px solid black;
  height: 100%;
  grid-area: left;
}

.suggestion-right {
  border-top: 1px solid black;
  height: 100%;
  grid-area: right;
}

.suggest1 {
  height: 380px;
}

.suggest1-head {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.suggest1-head span:first-child {
  font-weight: bold;
  font-size: 15px;
}

.suggest1-head span:last-child {
  color: var(--clr-black-400);
  font-size: 14px;
}

.suggest1-body {
  display: flex;
  justify-content: space-between;
}

.suggest1-body > div {
  border: 1px solid var(--clr-black-300);
  width: 233px;
  height: 260px;
}

.newsletter {
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.news-title {
  font-weight: bold;
  padding: 5px 0 8px 0;
}

.news-h2 {
  font-size: 12px;
}

.news-p {
  line-height: 1.3;
  font-size: 16px;
  color: var(--clr-black-500);
}

.latest {
  position: relative;
  color: var(--clr-blue-btn);
  font-weight: bold;
  font-size: 14px;
  margin-top: auto;
}

.logo-container {
  width: 75px;
}

.newsletter:hover {
  box-shadow: 2px 2px 10px 1px var(--clr-black-300);
}

.newsletter:hover > .newsletter-head > button {
  background-color: black;
  color: white;
  transition: 0.7s;
}

.newsletter > div {
  height: 90px;
}

.newsletter-head {
  display: flex;
  justify-content: space-between;
}

.newsletter-head > button{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 2px solid black;
  background-color: transparent;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* suggestion section 2 */
.suggest2 {
  border-top: 1px solid black;
}

.suggest2-head {
  padding: 20px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--clr-black-600);
  font-weight: bold;
}

.suggest2-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.suggest-item {
  width: 270px;
  padding-bottom: 17px;
}

.suggest-item > p{
  padding: 3px 0;
}

.article-credit {
  font-size: 12px;
  color: var(--clr-black-400);
  text-align: right;
}

.article-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.article-date {
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--clr-black-400);
}
/* suggestion section 3 */
.suggest3 {
  border-top: 1px solid black;
  padding-bottom: 35px;
}

/* popular section */
.link-item {
  padding: 20px 0;
  line-height: 1.5;
  font-size: 19px;
  border-top: 1px solid var(--clr-black-300);
}

/* Footer links */

.footer-links {
  border-top: 1px solid var(--clr-black-300);
  width: 1200px;
  margin: 0 auto;
}

.footer-header {
  display: flex;
  justify-content: space-between;
}

.go-home {
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--clr-black-400);
  padding-bottom: 10px;
}

.nyt-footer {
  width: 180px;
  padding: 10px 0;
}

.footer-body {
  display: flex;
}

.footer-item {
  width: 200px;
}

.list-links {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}

.list-links li:first-child {
  font-weight: bold;
}

.list-links li {
  padding-bottom: 12px;
}

.footer-item:last-child {
  border-left: 1px solid var(--clr-black-300);;
}

.last-list {
  padding-left: 10px;
}


.last-list li{
  font-weight: bold;
  font-size: 15px;
  display: flex;
  padding-bottom: 15px;
}

span.material-icons-outlined {
  font-size: 15px;
  margin-right: 5px;
}

.last-list2, .last-list3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 11px;
  margin-left: 15px;
  margin-top: 10px;
}

.last-list2 {
  border-bottom: 1px solid var(--clr-black-300);
}

.last-list2 li, .last-list3 li {
  padding-bottom: 12px;
}

/* footer */

.footer-container {
  border-top: 1px solid var(--clr-black-300);
  width: 1200px;
  margin: 0 auto;
  margin-top: 12px;
}

.footer {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--clr-black-450);
  font-size: 11px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 75px;
}

.sticky-ad {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  z-index: 1;
}

.sticky-ad p:first-child {
  margin-left: 770px;
}

.limit {
  font-weight: bold;
}

.expand {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-left: 280px;
}

.arrow {
  margin-left: 30px;
}